:root
{
  --primer-purple:            #2D033B;
  --second-purple:            #000D6B;
  --tercer-purple:            #C147E9;
  --cuarto-purple:            #E5B8F4;
  --quinto-purple:            #F56EB3;
  --sexto-purple:             #CB1C8D;
  --septimo-purple:           #7F167F;
  --octavo-purple:            #99DDCC;


  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --btn-font-size:                14px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;

  --body-font-family:             'Outfit', sans-serif;
}

body
{
  font-family: var(--body-font-family);
  background: #fff;
  position: relative;
  height: 100%;
}

.site-header
{
  background: var(--primer-purple);
}
.site-header .parafo
{
  color: var(--cuarto-purple);
  margin: 15px 5px;
  font-weight: var(--font-weight-bold);
}

.site-header:hover i,
.site-header:hover span
{
  color: var(--sexto-purple);
  transition: color 1s;
}

.navMod
{
  background: var(--sexto-purple);
  position: sticky;
  top: 0;
  z-index: 150;
}

[class="navbar-brand"]
{
  color: #fff;
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}
[class="navbar-brand"]:hover
{
  color: #fff;
}


.navMod a[class="nav-link"]
{
  color: var(--cuarto-purple);
  font-weight: var(--font-weight-normal);
}
.navMod a[class="nav-link"]:hover
{
  color: #fff;
  transition: color .3s;
}

.e4
{
  width: 100%;
}


.custom-btn {
  background: var(--primer-purple);
  border-radius: var(--border-radius-large);
  color: #fff;
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 1s;
  padding: 10px 20px;
}

.custom-btn:hover
{
  background: var(--octavo-purple);
  color: var(--primer-purple);
}


.hero-section
{
  height: 100vh;
  background: transparent;
  position: relative;
}

.z
{
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  color: rgb(60, 18, 211);
  z-index: 100;
  padding-top: 150px;
}

.z .present
{
  font-weight: var(--font-weight-bold);
  font-size: var(--h1-font-size);

}

.z small
{
  color: #fff;
  font-size: var(--h6-font-size);
}


.video-wrap
{
  z-index: -100;
}  

.video-wrap .custom-video
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}


.social-share ul
{
  list-style-type: none;
}

.social-icon-link
{
  margin-left: 10px;
  padding: 10px;
  border-radius: 50%;
}

.kis
{
  padding-top: 100px;
}

.kis h5,
.kis .social-share span
{
  font-weight: var(--font-weight-bold);
}

.kissi
{
  color: var(--primer-purple);
  font-weight: var(--font-weight-bold);
}
.kis:hover .kissi
{
  text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff;
}