*{
  box-sizing: border-box;
}
:root
{
  /* colours */
  --VeryDarkMagenta:       hsl(300, 43%, 22%);
  --SoftPink:              hsl(333, 80%, 67%);
  --DarkGrayishMagenta:    hsl(303, 10%, 53%);
  --LightGrayishMagenta:   hsl(300, 24%, 96%);
  --White:                 hsl(0, 0%, 100%);
  /* fonts */
  --regular: 400;
  --medium:  500;
  --bold:    700;

}
body
{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 15px;
}

.mainContainer
{
  padding: 60px 40px;
}

.section1__titulo
{
  color: var(--VeryDarkMagenta);
  font-weight: var(--bold);
  font-family: 'League Spartan', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}
.section1__parrafo
{ 
  margin-top: 20px;
  font-size: 1rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: var(--regular);
}
.section2__contenido
{
  position: relative;
}
.box1
{
  display: flex;
  position: absolute;
  right: 20px;
  border-radius: 10px;
  width: 80%;
  overflow: hidden;
  height: 60px;
  padding: 0px 20px;
  justify-content: space-between;
  background: var(--LightGrayishMagenta);
}
.box1--star
{
  display: flex;
  align-items: center;
}
.box1--star img
{
  margin: 0px 5px;
}
.box1-text
{
  height: 100%;
  flex-grow: 1;
  color: var(--VeryDarkMagenta);
  padding-left: 20px;
  line-height: 60px;
  font-family: 'League Spartan', sans-serif;
  font-weight: var(--bold);
}
.box2
{
  display: flex;
  position: absolute;
  top: 70px;
  right: -10px;
  border-radius: 10px;
  width: 80%;
  overflow: hidden;
  height: 60px;
  padding: 0px 20px;
  justify-content: space-between;
  background: var(--LightGrayishMagenta);
}
.box3
{
  display: flex;
  position: absolute;
  top: 140px;
  right: -40px;
  border-radius: 10px;
  width: 80%;
  overflow: hidden;
  height: 60px;
  padding: 0px 20px;
  justify-content: space-between;
  background: var(--LightGrayishMagenta);
}
.section2 
{
  margin-top: 30px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.section2 .caja
{
  width: 33%;
  padding: 30px 25px 15px;
  border-radius: 10px;
  position: absolute;
  background: var(--VeryDarkMagenta);
}
.section2 .caja:nth-child(1)
{
  top: 0;
  left: 0;
}
.section2 .caja:nth-child(2)
{
  top: 15px;
  left: 320px;
}
.section2 .caja:nth-child(3)
{
  top: 25px;
  right: -50px;
}

.section2 .caja .imgText
{
  display: flex;
  justify-content: center;
  text-align: left;
  position: relative;
}
.section2 .caja .imgText p
{
  margin-left: -20px;
  line-height: 1.4;
  font-weight: var(--bold);
  font-family: 'League Spartan', sans-serif;
}
.section2 .caja .imgText p span
{
  color: var(--SoftPink);
}
.section2 .caja .imgText img 
{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width:  40px;
  height: 40px;
}
.section2 .caja .comentarios
{
  text-align: left;
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
}

@media (max-width:767px)
{
  .mainContainer
  {
    padding: 40px 15px;
  }

  .section1__contenido,
  .section2__contenido
  {
    text-align: center;
  }
  .section1__parrafo
  {
    padding: 0px 25px;
  }
  .section2__contenido
  {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .box1,
  .box2,
  .box3
  {
    width: 100%;
    align-items: center;
    position: relative;
    left: 0;
    padding: 10px 0px 5px;
    top: 0;
  }
  .box2
  {
    top: 20px;
  }
  .box3{
    top: 40px;
  }
  .box1-text
  {
    padding-top: 0;
    line-height: 2;
  }
  .section2
  {
    display: flex;
    flex-direction: column;
  }
  .section2 .caja
  {
    width: 100%;
    position: relative;
  }
  .section2 .caja:nth-child(1),
  .section2 .caja:nth-child(2),
  .section2 .caja:nth-child(3)
  {
    margin: 10px 0px;
    top: 0;
    left: 0;
  }
  .section2 .caja:nth-child(1)
  {
    margin-top: 50px;
  }
}
