:root
{
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
}

body
{
  margin: 0;
  background: var(--PaleBlue);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
}
main
{
  margin-top: 50px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  height: 490px;
}
main img
{
  width: 100%;
  height: 28%;
}
main h1
{
  color: var(--DarkBlue);
  font-size: 20px;
  margin-top: 30px;
  font-weight: 900;
}
main .parrafo
{
  font-size: 14px;
  font-weight: 500;
  color: var(--DesaturatedBlue);
}
main .date
{
  background: var(--VeryPaleBlue);
  width: 76%;
  padding: 15px;
  padding-bottom: 12px;
  margin-top: 30px;
  border-radius: 10px;
  margin-left: auto;
  position: relative;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
main .date img
{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: var(--PaleBlue);
}
main .date p
{
  margin: 0;
  position: relative;
  left: -8px;
  color: var(--DarkBlue);
  font-weight: 700;
}
main .date p span
{
  color: var(--DesaturatedBlue);
}
main .date a
{
  line-height: 3;
  font-size: 13px;
  color: var(--BrightBlue);
  font-weight: 700;
}
main .date a:active
{
  text-decoration: none;
}
main button
{
  margin-top: 20px;
  width: 85%;
  background: var(--BrightBlue);
  color: var(--VeryPaleBlue);
  border-radius: 10px;
  padding: 14px 0px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  box-shadow: 0px 4px 20px 0px rgba(56,41,224,0.75);
}
main button:active
{
  background: #786cf4;
}
main .enlaceFinal
{
  color: var(--DesaturatedBlue);
  margin-top: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}
main .enlaceFinal:active
{
  color: var(--DarkBlue)
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }