*{box-sizing: border-box;}

body
{
  background: black;
  color: #fff;
  text-align: center;
}
h1
{
  color: cyan;
  text-align: center; 
  padding: 10px 0px;
}

.container
{
  margin: auto;
  max-width: 1200px;
}

.flex-container
{
  display: flex;
  flex-flow: row wrap ;
}
.flex
{
  border: thin solid #CC8;
  flex: 0 0 100%;
}

@media (min-width: 576px) 
{
  .flex
  {
    flex: 0 0 50%;
  }
}


@media (min-width: 768px) 
{
  .flex
  {
    flex: 0 0 33%;
  }
}


@media (min-width: 992px) 
{
  .flex
  {
    flex: 0 0 25%;
  }
}




@media (min-width: 1200px)
{
  .flex
  {
    flex: 0 0 20%;
  }
}